<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Категории</title>
</head>
<body>
<form enctype="multipart/form-data" action="#" th:action="@{/add_cargo}" method="post" class="needs-validation"
      novalidate>
    <div class="row">
        <button class="btn btn-dark btn-lg btn-block" type="submit" value="Submit">Добавить</button>
    </div>
</form>
</body>
</html>