<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Поиск груза</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1 class="text-light"><a th:href="@{/}">TransExpress</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a  th:href="@{/}">Главная</a></li>
                <li><a class="active" th:href="@{/cargoes}">Грузы</a></li>
                <li><a th:href="@{/transports}">Транспорты</a></li>
                <li><a th:href="@{/price}">Расчет стоимости</a></li>

                <li><a class="getstarted" href="#">Вход</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<main id="main">
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="fade-in">
            <div class="text-center">
                <h3>Поиск грузов</h3>
                <p>Введите населеные пункты и выполните поиск!</p>
            </div>
        </div>
    </section><!-- End Cta Section -->


    <section id="about" class="about">
        <form action="/search_cargo/" name="search" class="form-inline my-2 my-lg-0" style="margin-right: 30px">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-11">
                        <div class="row justify-content-end">
                            <div class="row">
                                <div class="col-lg-5 col-md-4 col-sm-12 p-3">
                                    <input required type="text" class="form-control search-slt" name="shippingPoint" id="shippingPoint" placeholder="Пункт погрузки">
                                </div>
                                <div class="col-lg-5 col-md-4 col-sm-12 p-3">
                                    <input required type="text" class="form-control search-slt" name="deliveryPoint" id="deliveryPoint" placeholder="Пункт выгрузки">
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-12 p-3">
                                    <button type="submit" class="btn btn-outline-success btn-lg btn-block">Найти</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
        <div class="container">
            <div class="row">
                <div class="col-md-6" th:each="cargo : ${cargoes}">
                    <div class="icon-box" data-aos="fade-up">
                        <h4 class="title text-center"><a th:href="@{'/' + ${cargo.id} + '/one_cargo'}" th:text="${cargo.getRoute().getShippingPoint()} + ' - ' + ${cargo.getRoute().getDeliveryPoint()}"></a></h4>
                        <p class="description text-center" th:text="${cargo.name}"></p>
                        <span class="description">Дата погрузки: </span><span class="description" th:text="${cargo.getRoute().getShippingDate()}"></span>
                        <span class="description">Оплата: </span><span class="description" th:text="${cargo.getPayment().getAmount()} + ${cargo.getPayment().getCurrency()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- End Services Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-5 footer-info">
                    <h3>TransExpress</h3>
                    <p></p>
                </div>
                <div class="col-lg-4 col-md-5 footer-links">
                    <h4>Полезные ссылки</h4>
                    <ul>
                        <li><a th:href="@{/}">Главная</a></li>
                        <li><a th:href="@{/cargoes}">Поиск грузов</a></li>
                        <li><a th:href="@{/transports}">Поиск транспорта</a></li>
                        <li><a th:href="@{/price}">Расчет стоимости</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-5 footer-contact">
                    <h4>Связаться с нами</h4>
                    <p>
                        <strong>Phone:</strong> +38(066)502-51-33<br>
                        <strong>Email:</strong> transExpress@gmail.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; <strong><span>TransExpress, </span></strong>2021
        </div>
    </div>
</footer><!-- End Footer -->

</body>

<!-- Template Main JS File -->
<script src="/js/main.js" th:href="@{/js/main.js}"></script>

</html>